*
{
	margin: 0;
	padding: 0;
	border: 0;
}

body
{
	background-color: #BBC;
	font-family: "Lucida Grande", Calibri;
}

div {
	box-sizing:border-box;
}
#container
{
	position: relative;
	margin: auto;
	width: 504px;
	padding:10px;
}

#status {
	background-color:#000;
	height:64px;
	color:#fff;
	width: 504px;
}

#status span {
	position: absolute;
	margin-top: 22px;
	font-size:18px;
}

#status li {
	float:left;
	width:33%;
}

#status .icon {
	width:48px;
	height:48px;
	padding:8px;
}

#messages
{
	display: block;
	width: 504px;
	height: 160px;
	margin: auto;
	background-color:rgba(0,0,0,0.67);
	overflow: auto;
	color:#ddd;
	padding:12px;
	font-size:10px;
}

li { 
	list-style:none;
	height:20px;
}

#messages span {
	width:84px;
	color:#fff;
	font-size:12px;
	display:block;
	float:left;
	padding-right:12px;
	text-align:right;
	margin-top: -3px;
}

.error {
	color:#D11;
}

.indicator {
	margin:-54px 0 0 68px;
	position:absolute;
}

.level {
	float: left;
	padding: 24px 12px 0 0;
	color:#aaa;
	font-size:14px;
}

.doubleSize {
	-ms-transform: scale(2);
    -webkit-transform: scale(2);
    transform: scale(2);
    margin-top:-120px;
    -webkit-transition: margin 1.2s, opacity 1.8s, transform 1.2s;
    transition: margin 1.2s, opacity 1s, transform 1.2s;
    -webkit-text-shadow: 4px 6px 12px 2px rgba(0,0,0,0.73);
	-moz-text-shadow: 4px 6px 12px 2px rgba(0,0,0,0.73);
	text-shadow: 4px 6px 12px 2px rgba(0,0,0,0.73);
	opacity:0;
}

.pos { color:green!important; }
.neg { color:red!important; }

#gameOver {
	position:absolute;
	width:100%;
	height:100%;
	background-color:rgba(200,200,0,0.5);
	padding-top:48%;
	font-size:48px;
	text-align:center;
	display:none;
}

/*
#root
{
	display: block;
	width: 960px;
	margin: auto;
	background-color: #FFF;
}
#map
{
	display: block;
	width: 378px;
	height: 378px;
	border: 1px solid #333;	
}

#action_menu
{
	display: block;
	position: absolute;
	right: -2px;
	width: 198px;
	background-color: #ccc;
	height: 378px;
	border: 1px solid #333;
}

#action_menu p 
{
	cursor: pointer;
	display: block;
	padding: 5px;
}

#action_menu p:hover
{
	background: #8ce;
}


*/